@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@400;500;600;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Syne', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.parent:hover #child1 {
    background: #56afd5;
    
}
.parent:hover #child2 {
    color: #f9f9f9;
    
}

h1,h2,h3,h4,h5,h6,.main-navigation > li > a,.caption-heading-tag,.testimonials .testimonial--author,.call-to-action .call-to-action--content .call-to-action--title,.counter .counter--text .counter--number {
    font-family: 'Nunito';
}

